.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (376px <= width <= 768px) {
  .container {
    justify-content: space-between;
    gap: 0;
  }
  .card {
    margin: 30px auto;
  }
}
