body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #8ffda7;
  grid-area: g;
}

#orange {
  background-color: #ffc788;
  grid-area: o;
}

#yellow {
  background-color: #ffff92;
  grid-area: y;
  display: grid;
}

#red {
  background-color: #ff919c;
  grid-area: r;
}

#blue {
  background-color: #98d2ff;
  grid-area: b;
}

ul {
  padding: 0;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
